.completed {
    text-decoration: line-through;
    color: #888;
}
.delete-btn {
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

.task-text {
    cursor: pointer;
}

.filters {
    margin-bottom: 20px;
}

.filters button {
    margin-right:10px;
    cursor:pointer;
}

.edit-input {
    width: 70%;
    padding:6px;
    font-size:1rem;
    
}